@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary: #673AB7;
}
body {
  width: 100% !important;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.backgroundFix{
  background-size: cover !important;
  background: url('https://cdn.vuetifyjs.com/images/parallax/material.jpg');
}
.direction-ltr {
  direction: ltr !important;
}
.v-toolbar__content,
.v-toolbar__extension {
  justify-content: space-between !important;
}
h1{
  color:white
}


.v-card:empty {
  display: none;
}
.card-price {
  position: relative;
}
.card-price-avatar {
  position: absolute;
  left: 10px;
  top: -28px;
}
.details {
  color: rgba(169, 161, 161, 0.818) !important;
  padding: 0;
}
.details span {
  padding: 4px;
  color: #673ab7;
}


@media screen and (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .cards div {
    margin: 2px 0;
  }
  .text-overline{
    margin-top: 45px;
  }
  .details {
    font-size: 11px;
  }
}
